<div class="container">
<h1>IMPORTANE</h1>
<hr>

<div class="container">

    <div class="row">
  
      <div class="col-8">
          <h5>
              Kompanija Importane doo je osnovana 2013. godine. Prvobitno se bavila trgovinom obuće, uvozom i izvozom
              kao i međunarodnim transportom. Od 2016. godine proširila je svoje poslovanje na proizvodnju stolarije
              od aluminijmskih i pvc profila.
              <br>
              Kako bi odgovorili na sve zahtevnije projekte investitora, koristimo nemaćki premium profil Trocal, odnosno
              grčki Premium Alu profil Alumil. Uparene sa isključivo nemačkim mehanizmom GU, Maco i Roto u zavisnosti od 
              želje kupca. Na zahtev kupca mozemo raditi i druge profile.
              <br>
              Svi nasi proizvodi rade se po meri i zelji klijenata uz veliki izbor materijala i dezena.
              <br>
              Ono po cemu smo postali prepoznatljiviji su izrada i montaža strukturalnih odnosno polustrukturalnih fasada od
              stakla, kao i Alubond fasada od aluminijumskih panela.
              <br>
              Naše proizvode i usluge plasiramo prvenstveno na domaćem tržistu, a plasiramo i na tržistu evropske unije sa 40%
              naše ukupne proizvodnje.
            </h5>
            
  
      </div>
  
      <div class="col-4">
        
        <img style="height: 130px; width: 100%; display: block;" src="assets/logo2.png">
      </div>
      
    </div>
  </div>

</div>


<div class="container">
  <div class="span4">
    <address>
      <strong> Importane doo</strong>
     <br>
      Radno vreme:<br>
      08:00h - 17:00h Radnim danima
    </address>
  </div>