
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor066" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor066">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Language<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink = '/kontakt'>Kontakt</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" routerLink = '/sertifikati'>Atesti</a>
        </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink = '/'><img src="assets/logo2.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav ml-auto" style="font-size: 18pt;">
        <li class="nav-item active">
          <a class="nav-link" routerLink = '/'>Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = '/proizvodi'>Proizvodi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = '/projekti'>Projekti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = '/o-nama'>O nama</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>

<router-outlet></router-outlet>

<div class="footer" style="background-color: #F5F5F5">
  <div class="container" style="text-align: center;">
      
      <div class="row">

          <div class="col-sm">

            <br>
            <br>
              <img src="assets/logo2.png">

          </div>

          <div class="col-sm">

            <br>
            <br>

            <a href="https://www.facebook.com/IMPORTANE-doo-534980916626620/?eid=ARDq8L--avMTgqP9Yfp4DN9w-P6d3cAHtrByOc4ksKEn97wH9nwozCndNYDUOlhuyPZ8SicvqB9Fl6yV&timeline_context_item_type=intro_card_work&timeline_context_item_source=100012186280319&fref=tag">
              <img src="assets/iconfinder_Facebook-icon_380455.png">
            </a>

          </div>

          <div class="col-sm">
            <br>
            <h3>IMPORTANE doo</h3>
            <p class="mb-0">
              Radno vreme:
              <br>
              08:00h do 16:00h od ponedeljka do petka
              <br>
            </p>
              <ul>
                <li>office@importane.rs</li>
                <li>Telefon: +381 64 0321570</li>
                <li>Novi Pazar 36300, Kej skopskih žrtava bb</li>
              </ul>
            
  <footer class="blockquote-footer">Website by<cite title="Source Title">compay name</cite></footer>
          </div>

        </div>

  </div>
</div>
