<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style=" min-height:28px; height: 32px;">
  
  <div class="collapse navbar-collapse" id="navbarColor011">
    <div class="container">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Jezik</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink = '/o-nama'>O nama</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink = '/kontakt'>Kontakt</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink = '/home'><img src="assets/logo2.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav ml-auto" style="font-size: 18pt;">
        <li class="nav-item active">
          <a class="nav-link" routerLink = '/home'>Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = '/proizvodi'>Proizvodi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = '/projekti'>Projekti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = '/o-nama'>O nama</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>

<router-outlet></router-outlet>

<div class="footer" style="background-color: #F5F5F5">
  <div class="container" style="text-align: center;">
      
      <div class="row">

          <div class="col-sm">

            <br>
            <br>
              <img src="assets/logo2.png">

          </div>

          <div class="col-sm">

            
            <img src="assets/lokacija.png"> office@importane.rs
            <br>
            <br>
            <img src="assets/iconfinder_phone_1055012.png"> office@importane.rs
            <br>
            <br>
            <img src="assets/iconfinder_mail_287559.png"> office@importane.rs

          </div>

          <div class="col-sm">
            <br>
            <h3>Nesto o nama</h3>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </div>

        </div>

  </div>
</div>
