<div class="container">
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <p style="color: white;"><a style="color: white;" routerLink ="/home">Home</a> > Proizvodi</p>
  </nav>

  <h1>Products</h1>
  <h4>
    TROCAL is regarded as a pioneer in the windows sector. 
    More than fifty years ago, TROCAL developed the first PVC-U window for series production. 
    Today, the TROCAL profile range contains various window, residential door, and sliding systems as well as shutter variants.
  </h4>
  <hr>
  <div class="row">

    <div class="col-sm">

      <img style="height: 250px; width: 100%; display: block;" src="assets/prozori_ulaznavrata.jpg" alt="Card image" id="s_p_img">
      <h3><a routerLink = './sistemi-prozora-ulaznih-vrata'>Sistemi prozora i ulaznih vrata</a></h3>
      <p class="lead">TROCAL PVC prozore i sisteme vrata nudimo sa različitom dubinom ugradnje i u raznim varijantama. Za svakog ponešto. Za svakog ponešto. Za svakog ponešto.</p>

      <div class="list-group sistemi_prozora">
        <a routerLink = "./88mmsystems" class="my-group-item list-group-item list-group-item-action" id="s_p_1">
            > 88 mm systems
        </a>
        <a routerLink = "./76mmsystems" class="my-group-item list-group-item list-group-item-action" id="s_p_2">
            > 76 mm systems
        </a>
        <a routerLink = "./70mmsystems" class="my-group-item list-group-item list-group-item-action " id="s_p_3">
            > 70 mm systems
        </a>
      </div>

      <hr>

    </div>

    <div class="col-sm">
      
      <img style="height: 250px; width: 100%; display: block;" src="assets/klizni_sistemi.jpg" alt="Card image" id="k_s_img">
      <h3><a routerLink = "./klizni-sistemi">Klizni sistemi - Alumil</a></h3>
      <p class="lead">Aluninijumski PVC asortiman, raspolaže profilima sa različitom dubinom ugradnje i raznim varijantama kliznih i podizno-kliznih sistema. 
          Ispunite svoje želje.</p>
        
          <div class="list-group">
              <a routerLink = "./Klizni" class="my-group-item list-group-item list-group-item-action" id="k_s_1">
                  > Klizni
              </a>
              <a routerLink = "./Podizno klizni" class="my-group-item list-group-item list-group-item-action" id="k_s_2">
                  > Podizno klizni
              </a>
              <a href="#" class="my-group-item list-group-item list-group-item-action" id="k_s_3">
                  > Kombi sistemi
              </a>
              <a href="#" class="my-group-item list-group-item list-group-item-action" id="k_s_3">
                  > s350
              </a>
              <a href="#" class="my-group-item list-group-item list-group-item-action" id="k_s_3">
                  > s440
              </a>
              <a href="#" class="my-group-item list-group-item list-group-item-action" id="k_s_3">
                  > s560
              </a>
              <a href="#" class="my-group-item list-group-item list-group-item-action" id="k_s_3">
                  > s700
              </a>
        </div>

            <hr>
    </div>

    <div class="col-sm">
      
        <img style="height: 250px; width: 100%; display: block;" src="assets/sistemi_zastora.jpg" alt="Card image">
        <h3><a routerLink = "/alu-profili-alumil">Alu profili - Alumil</a></h3>
        <p class="lead">Roletne i prozorski kapci, uveravaju svojom funkcionalnošću i odlikuju se individualnim prednostima. Uverite se sami i informišite se kod naše sestrinske robne marke KOMMERLING.</p>

        <div class="list-group">
            <a href="#" class="my-group-item list-group-item list-group-item-action">
                > Serija M9650
            </a>
            <a href="#" class="my-group-item list-group-item list-group-item-action">
                > Serija M9660
            </a>
            <a href="#" class="my-group-item list-group-item list-group-item-action">
                > Serija M11000
            </a>
          </div>
          <hr>
    </div>

    
    <div class="w-100"></div>
    
    <div class="col-sm">

      <img style="height: 250px; width: 100%; display: block;" src="assets/prozori_ulaznavrata.jpg" alt="Card image">
      <h3><a routerLink = "">Fasade od stakla</a></h3>
      <p class="lead">TROCAL PVC prozore i sisteme vrata nudimo sa različitom dubinom ugradnje i u raznim varijantama. Za svakog ponešto. Za svakog ponešto. Za svakog ponešto.</p>

      <div class="list-group">
          <a href="#" class="my-group-item list-group-item list-group-item-action">
              > Strukturalne
          </a>
          <a href="#" class="my-group-item list-group-item list-group-item-action">
              > Ne strukturalne
          </a>
        </div>
        <hr>
    </div>

    <div class="col-sm">
      
        <img style="height: 250px; width: 100%; display: block;" src="assets/sistemi_zastora.jpg" alt="Card image">
        <h3><a routerLink = "/alu-bond-fasade">Alu Bond fasade</a></h3>
        <p class="lead">Roletne i prozorski kapci, uveravaju svojom funkcionalnošću i odlikuju se individualnim prednostima. Uverite se sami i informišite se kod naše sestrinske robne marke KOMMERLING.</p>
      
        <hr>

    </div>

    <div class="col-sm">
      
        
    </div>

  </div>